@{
    ViewData["Title"] = "Haha Its me";
}

<body>
    <video id="videoPlayer" controls autoplay></video>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signalr/3.1.12/signalr.min.js"></script>
    <script>
        const videoPlayer = document.getElementById('videoPlayer');
        const connection = new signalR.HubConnectionBuilder()
            .withUrl('/videoHub')
            .build();
        
        connection.on('ReceiveVideoStream', (streamData) => {
            // Update the video player with the received video stream data
            videoPlayer.srcObject = streamData;
        });
        
        connection.start()
            .then(() => {
                console.log('Connection established.');
            })
            .catch((error) => {
                console.error(error);
            });
    </script>
</body>
